@model Auction_House.Models.Item

@{
    ViewData["Title"] = "Edit ItemController";
}

<h1>Edit Item</h1>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinimumBid" class="control-label"></label>
        <input asp-for="MinimumBid" class="form-control" />
        <span asp-validation-for="MinimumBid" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AuctionStart" class="control-label"></label>
        <input asp-for="AuctionStart" class="form-control" />
        <span asp-validation-for="AuctionStart" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AuctionEnd" class="control-label"></label>
        <input asp-for="AuctionEnd" class="form-control" />
        <span asp-validation-for="AuctionEnd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ItemCondition" class="control-label"></label>
        <input asp-for="ItemCondition" class="form-control" />
        <span asp-validation-for="ItemCondition" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ItemCategory" class="control-label"></label>
        <input asp-for="ItemCategory" class="form-control" />
        <span asp-validation-for="ItemCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
