@model IEnumerable<Item>

@{
    ViewData["Title"] = "Search";
}

<h1>Search Results</h1>

@if (!Model.Any())
{
    <p>No results found.</p>
}
else
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Item", new { id = item.Id })">

                    @item.Name
                    <br>
                    <div class="col-md-6">

                        <img src="@item.ImageURL" width="50px" alt="Item Image">


                    </div>
                    <br>
                    <hr>
                    @item.Description
                    <hr>
                </a>
            </li>
        }
    </ul>
}
